
<div class="overlay">
    <div class="inside">
        <span class="glyphicon glyphicon-remove close"></span>
        <h3>Tiempos</h3>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <span>00:00</span>
                </div>
                <div>
                    <span>Total</span>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <span>00:00</span>
                </div>
                <div>
                    <span>Asignado</span>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <span>00:00</span>
                </div>
                <div>
                    <span>Por asignar</span>
                </div>
            </div>
        </div>
    </div>
</div>